
<h1>Book Lists</h1>

<table>
  <% @events.each do |e| %>
  
    <tr>
      
      <td>
        <%= e.name %>
        
        <%= link_to "Show & Edit", event_path(e), :class =>"btn btn-info" %>
       
        <%= link_to "Delete", event_path(e), :method => :delete ,:class =>"btn btn-danger" %>
      </td>
    
    </tr>

  <% end %>

  
</table>


<%= link_to "New",new_event_path, :class =>"btn btn-primary" %>



<%= paginate @events %>