
<h2><%= @event.name %></h2>
<%= simple_format @event.description %>
<%= simple_format @event.isbn %>

<p>
  <%= link_to "Edit",edit_event_path(@event),:class =>"btn btn-default" %>
</p>

<p>
  <%= link_to "Back to index", events_path,:class =>"btn btn-default" %>
</p>
